/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --primary-color: #1e1e1e;
  --secondary-color: #f5f5f5;
  --font-family: "Inter";
  --active-link: rgba(212, 162, 67, 1);
  --logo-color: rgba(0, 0, 54, 1);
  --text-black: rgba(0, 0, 0, 1);
  --section-padding: "1rem 5rem";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  /* position: relative; */
}
.home-page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* position: relative; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: #fff;
  /* background-color: transparent; */
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  z-index: 50;
  height: 113px;
  overflow: hidden;
  /* height: 194px; */
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  padding: 5px 8px;
  margin: 0 15px;
  text-decoration: none;
  /* color: #333; */
  color: var(--text-black);
  font-weight: 400;
  font-family: var(--font-family);
  font-size: 1.2rem;
}

.nav-links a.active {
  border-bottom: 6px solid var(--logo-color);

  color: var(--active-link);
}

.cta {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-right: 5%;
}

.lets-talk {
  padding: 10px 20px;
  background-color: transparent;
  border: 0.5px solid black;
  /* border: none; */
  border-radius: 9px;
  cursor: pointer;
}

.menu-icon {
  display: none;
  cursor: pointer;
  margin-left: 20px;
}

.menu-icon .fa-xmark {
  display: none;
  width: 25px;
  font-weight: bold;
  font-size: 25px;
}

/* ------------hero section styles--------------- */

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  /* background-color: yellow; */
  padding-top: 1.5rem;
}
.hero-line {
  width: 500px;
  /* background-color: rebeccapurple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.circle1 {
  width: 250px;
  height: 250px;
  background: linear-gradient(
    175.71deg,
    #f3b871 -10.15%,
    rgba(255, 255, 255, 0) 105.62%
  );
  top: 83%;
  left: 5%;
  transform: translate(-5%, -83%);
}

.circle2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(
    175.71deg,
    #cbffab -10.15%,
    rgba(255, 255, 255, 0) 105.62%
  );
  top: 65%;
  left: 15%;
  transform: translate(-18%, -72%);
}

.circle3 {
  width: 240px;
  height: 240px;
  background: linear-gradient(
    175.71deg,
    #cbffab -10.15%,
    rgba(255, 255, 255, 0) 105.62%
  );
  top: 40%;
  right: 10%;
  transform: translate(-10%, -40%);
}

.circle4 {
  width: 150px;
  height: 150px;
  background: linear-gradient(
    175.71deg,
    #f3b871 -10.15%,
    rgba(255, 255, 255, 0) 105.62%
  );
  top: 48%;
  right: 19%;
  transform: translate(-19%, -48%);
}

.swift-team {
  font-size: 2.3rem;
  font-weight: 400;
  font-family: var(--font-family);
  letter-spacing: -1.5px;
  color: rgba(70, 70, 70, 1);
}
.build-txt {
  font-size: 6rem;
  font-weight: 650;
  color: transparent;
  background: linear-gradient(123.61deg, #cbffab 13.07%, #ffa25f 103.48%);
  -webkit-background-clip: text;
  background-clip: text;
}

.swift-team-build-txt-line {
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(146, 146, 146, 1);
  text-align: center;
  padding: 0 0.5rem;
}
.hero-section-services-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(64, 64, 64, 1);
  }
}
/* --------------------services section slider --------------------styles */

.slider-container {
  width: 80%;
  height: auto;
  background: linear-gradient(180deg, #e5ffd5 0%, #ffebd9 100%);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 3rem 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.services-head {
  margin-bottom: 2.9rem;
  font-size: 2.5rem;
  font-weight: 650;
}

.single-service {
  display: flex;
  gap: 0.5rem;
}
.slide {
  min-width: 100%;
/* padding: 1.5rem 2rem; */
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(2,40%);
justify-content: center;
align-content: center;

  > * {
    width: 85%;

    margin-bottom: 3.8rem;
    p{
   
      text-align: justify;
      hyphens: auto;
    }
    img {
      width: 25px;
      height: 25px;
    }
  }
}
.single-service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    text-align-last: start;
  }
}
.single-service-content h2 {
  font-size: 1.5rem;
  font-weight: 630;
  font-family: var(--font-family);
  color: rgba(92, 92, 92, 1);
}
.controls {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.controls button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}
/*<<< ----------------------------technologies styles -------------------->> */

.technology-section {
  margin-top: 7rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 20;
}
.technology-section-container {
  width: 80%;
  background: linear-gradient(180deg, #fffbf2 0%, #feefff 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 3rem 1rem;
  border-radius: 2.5rem;
}
.technology-section-container-title-head {
  width: 50%;
  text-align: center;
  .tech-we-use {
    font-size: 2.5rem;
    font-weight: 650;
    color: rgba(70, 70, 70, 1);
  }
  p {
    color: rgba(70, 70, 70, 1);
    text-align: justify;
  }
}

.technologies-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
  width: 80%;
  > * {
    margin-bottom: 2rem;
  }
}
.ctrl-btn{
  position: absolute;
  top: 50%;
  font-size: 50px;
  z-index: 1;
  display: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;

}
.ctrl-btn.right{
right: 10px;

}
.ctrl-btn.left{
  left: 10px;
}
.technology-section-summary-para {
  width: 100%;
  /* text-align: center; */
  display: flex;
  justify-content: center;

}
.technology-section-summary-para p {
  width: 80%;
  text-align-last: center;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(153, 148, 148, 1);
  text-align: justify;
  transition: opacity 0.3s ease, transform 0.3s ease; /* Add transition */
}
.technology-section-summary-para p.active {
  opacity: 1;
  transform: scale(1.05);
}

.tech-figure {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: background 0.3s ease, opacity 0.3s ease;
  position: relative; /* Added for description positioning */
}
.tech-figure:hover {
  background: linear-gradient(180deg, #89eaff 0%, #e4abff 100%);
}
.tech-figure img {
  width: 80px;
}
.tech-icon {
  transition: filter 0.3s ease;
}
.tech-figure:hover .tech-icon {
  filter: invert(1) brightness(2);
}
/* Add fade out effect */
.technologies-container .tech-figure:not(:hover) {
  opacity: 0.5; 
}
/* Add description styling */

.tech-figure:hover .tech-description {
  display: block;
}

/* -----------------quality section styles ---------------> */
.why-us-quality-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;

  position: relative;
  z-index: 20;
}
.why-us-title-head-container{
  text-align: center;
  width: 80%;
  background-color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
align-items: center;
}
.work-with-us-head{
  margin: 2.2rem 0;
  font-family: "Inter";
  font-size: 2.2rem;
  font-weight: 610;
  color: rgba(70, 70, 70, 1);
  ;
}
.why-us-quality-section-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  width: 80%;
  background-color: white;
  border-radius: 25px;

  > * {
    margin-bottom: 2.5rem;
  }
}

.each-quality {
  text-align: center;
}


.each-quality img {
  max-width: 100px;
  height: auto;
}

.each-quality p {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

/* Responsive Styles */
@media (max-width: 668px) {

.logo img{
  width: 86px;
  
}
.lets-talk {
  padding: 8px 13px;
  font-size: 0.75rem;
}
  .navbar {
    width: 100vw;
    height: 100px;
    overflow: hidden;
    position: static; /* Allows the navbar to scroll with the page */
  }
.three-dots-cont img{
  width: 25px;
}
.technology-section-container-title-head {
  .tech-we-use {
      font-size: 2rem;
      font-weight: 600;
      color: rgba(70, 70, 70, 1);
  }
}
  .nav-links {
    display: none;
    position: fixed;
    top: 96px;

    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease;
    padding-bottom: 5rem;
  }

  .nav-links.open {
    display: flex;
    left: 0;
  }

  .menu-icon {
    display: block;
  }

  .menu-icon .fa-barss {
    display: block;
  }

  .menu-icon .fa-xmark {
    display: none;
  }

  .menu-icon.open .fa-barss {
    display: none;
  }

  .menu-icon.open .fa-xmark {
    display: block;
  }
  .cta {
/* changes after shamil
 */
 display: flex;
        align-items: center;
        gap: 3rem;
        margin-right: 1%;
        position: absolute;
        left: 44%;
        transform: translateX(-8%);
        justify-content: space-between;
    
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

 /* services slider for phones */
.slider-container {
  width: 92%;
  /* height: auto; */
  background: linear-gradient(180deg, #e5ffd5 0%, #ffebd9 100%);
  /* background: yellowgreen; */
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  padding: 3rem 0;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.services-head {
  margin-bottom: 2.9rem;
  font-size: 2.5rem;
  font-weight: 650;
}

.single-service {
  display: flex;
  gap: 0.5rem;
}
/* Ensure each slide takes the full width */
.slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.single-service {
  width: 75%;
  /* background-color: rgb(66, 66, 87); */
  margin:0  1rem ;


  margin-bottom: 3.8rem;
  text-align: center;
  p {
    text-align: justify;
    hyphens: auto;
  }
  img {
    width: 25px;
    height: 25px;
  }
}


.single-service-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  p {
    text-align-last: start;
  }
}
.single-service-content h2 {
  font-size: 1.5rem;
  font-weight: 630;
  font-family: var(--font-family);
  color: rgba(92, 92, 92, 1);
}


.controls button {
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
}
  /* circles  */
  .circle1 {
    width: 180px;
    height: 180px;

    top: 98%;
    left: 5%;
    transform: translate(-5%, -98%);
    z-index: 0;
  }

  .circle2 {
    width: 140px;
    height: 140px;

    top: 79%;
    left: 23%;
    transform: translate(-18%, -72%);
    /* display: none; */
  }

  .circle3 {
    width: 180px;
    height: 180px;
    top: 35%;
    right: 10%;
    transform: translate(-10%, -35%);
    z-index: 0;
  }

  .circle4 {
    width: 120px;
    height: 120px;

    top: 48%;
    right: 19%;
    transform: translate(-19%, -48%);
    display: none;
    z-index: 0;
  }
  /* technology section container */
  .technology-section-container {
    width: 92%;
    background: linear-gradient(180deg, #fffbf2 0%, #feefff 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 3rem 0rem;
    border-radius: 2.5rem;
  }

  .technology-section-container-title-head {
    width: 80%;
  }

  .sliderr {
    overflow: hidden;
    width: 100%;
  }
  .technologies-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center; 
    transition: transform 0.5s ease-in-out;
    /* background-color: yellow; */
  width: 100%;}

  .tech-figure-container {
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

  }

  .tech-figure {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tech-figure img {
    border-radius: 50%;
    transition: background 0.3s ease-in-out;
  }



  .ctrl-btn {
    display: block;
    padding: 8px;
    img{
      width: 35px;
    }
  }

  .technology-section-summary-para {
    width: 100%;

  }

  .tech-icon {
    transition: filter 0.3s ease;
  }

  .tech-figure:hover .tech-icon {
    filter: invert(1) brightness(2);
  }


/* end here */



  .controls button {
    padding: 8px;
    img{
      width: 35px;
    }
  }

  .why-us-title-head-container {
    /* width: 100%; */
    width: 94%;
  }
  .why-us-quality-section-container {
  
    grid-template-columns: repeat(2, 1fr);
        width: 100%;
        height: 399px;
        overflow: scroll;
        padding: 20px 33px;
        scrollbar-color: linear-gradient(180deg, #fbf0d7 0%, #f5c2f9 100%);
  }
  /* scrollbar for webkit based browsers */

.why-us-quality-section-container::-webkit-scrollbar {
  width: 12px;
}

.why-us-quality-section-container::-webkit-scrollbar-track {
  background: #fbf0d7;
}

.why-us-quality-section-container::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #fbf0d7 0%, #f5c2f9 100%);
  border-radius: 6px;
}

/* For other browsers */
.why-us-quality-section-container {
  scrollbar-color: #f5c2f9 #fbf0d7;
  scrollbar-width: thin;
}

/* end */
.work-with-us-head {
  margin: 1.8rem 0;
  font-family: "Inter";
  font-size: 2rem;
  font-weight: 600;

}
/* tech we use head */

}
@media (max-width: 490px) {
  .swift-team {
    font-size: 2.0rem;
    font-weight: 370;

}
  .hero-content h1 {
    font-size: 2rem;
  }
  /* circles */
  .circle1 {
    width: 165px;
    height: 165px;

    top: 90%;
    left: 5%;
    transform: translate(-5%, -90%);
  }

  .circle2 {
    width: 125px;
    height: 125px;

    top: 79%;
    left: 23%;
    transform: translate(-18%, -72%);
    /* display: none; */
  }

  .circle3 {
    width: 160px;
    height: 160px;
    top: 30%;
    right: 10%;
    transform: translate(-10%, -30%);
  }

  .circle4 {
    width: 120px;
    height: 120px;

    top: 48%;
    right: 19%;
    transform: translate(-19%, -48%);
    display: none;
  }
  .swift-team-build-txt-line{
    padding:0 1rem ;
  }
}

.transparent-overlay::before {
  height: 100vh;
  z-index: 10;
}

@media (max-width:368px) {
  .logo img {
    width: 80px;
}
  .build-txt {
    font-size: 5.5rem;
   
}
.hero-line {
  width: auto;
  margin-bottom: 2rem;
}
.swift-team-build-txt-line {
  font-weight: 390;
  font-size: 1rem;
  color: rgba(146, 146, 146, 1);
}
.hero-section-services-list {

  gap: 1.2rem;
  flex-wrap: wrap;

}
}